/* import google fonts */

@import url('//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons');
.container {
  padding: 15px;
  max-width: 1000px;
  min-width: 700px;
  margin: 0 auto;
  background: #f7f7f7;
}

.text-center {
  text-align: center;
}

.less-margin {
  margin: 5px 0 5px 0;
}